
@media(min-width: 1024px){
    .hion-on-pc{
        display: none !important;
    }

}


/* Reponsive trên mobile và tablet */
@media(max-width: 1023px){

    .hion-on-mobile-table{
        display: none !important;
    }

    .nav{
        margin-top: 70px;
        background-color: var(--primary-nav-color);
        top: 0;
        left: 0;
        width: 30%;
        bottom: 0;
        z-index: 100;
        transform: translateX(-100%);
        transition: transform .3s ease;
    }

    .nav.active_modile{
        transform: translateX(0);
        transition: transform .3s ease;
        -webkit-animation: animation_mobile 0.5s ; /* Safari 4+ */
        -moz-animation:    animation_mobile 0.5s ; /* Fx 5+ */
        -o-animation:      animation_mobile 0.5s ; /* Opera 12+ */
        animation:         animation_mobile 0.5s ; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes animation_mobile {
        0%   { opacity: 0; }
        100% { opacity: 1; }
      }
      @-moz-keyframes animation_mobile {
        0%   { opacity: 0; }
        100% { opacity: 1; }
      }
      @-o-keyframes animation_mobile {
        0%   { opacity: 0; }
        100% { opacity: 1; }
      }
      @keyframes animation_mobile {
        0%   { opacity: 0; }
        100% { opacity: 1; }
      }


    .nav_label--sidebar_croller{
        height: auto;
    }

    .nav_label--sidebar_banner{
        display: none;
    }

    .nav_label--sidebar_creat {
        display: none;
    }


    
    /* Xử lý container table và mobile  */


    .container{
        padding: 0 20px;
        width: 100%;
        position: absolute;
        left: 0;
        height: calc(100vh - 88px);
    }


    .container_header{
        width: 100%;
        margin: 0 -20px;
    }


    .container_header--content{
        width: 100%;
    }

    .container_header--content_btns{
        width:25%;
    }
    .container_header--content_extend{
        margin: 0;
        width:25%;
        justify-content:flex-end ;
    }

    .container_header--content_search{
        width: 50%;
    }

 
 /* xử lý phần container_profile */
    .container_profile--user_action{
        margin-right: 0;
    }   

    .container.active .container_profile{
        width: 100%;

    }

    .container_profile--layout{
        width: 100%;
    }

    .container_profile--layout__sum--foot_list--item{
        width: 100%;
    }
    .container_profile--layout__sum--foot_list{
        width: calc(100% - 300px);
    }

    .container_profile--layout__sum--foot_list--item_lable{
        width: calc(100% - 50px - 15% - 20%);
    }

    .container_profile--layout__sum--foot_list--item_lable--info{
        width: 100%;
    }

    .container_profile--layout__sum--foot_list--item_time{
        width: 15% ;
    }
    .container_profile--layout__sum--foot_list--item_more{
        width: 20% ;
        justify-content:flex-end ;
    }

    .container_profile--layout__playlist--item {
        width: calc(100% / 3);
    }

/*  Xử lý phần foot  */   
    .listen{
        width: 100%;
        z-index: 102;
    }

    .controls{
        /* width: 290px; */
        width: 48%;
    }

    .media{
        /* width: 220px; */
        width: 35%;
    }

    .media_cd{
        margin: 0;
    }

    .controls_extend{
        /* width: calc( 100% - (290px + 220px)); */
        width: 22%;
    }

    .controls_extend--lever{
        padding-left: 0;
    }

    .controls_extend--lever_item_range{
        display: none;
    }

    .media_icon{
        display: none;
        width: 0;
    }

    .controls_extend--lever{
        justify-content: space-between;
    }

    .container_header--content_extend--modal_themse--btn{
        opacity: 1;
        cursor: pointer;
        display: flex;
        margin: auto;
    }

    .container_header--content_extend--setting{
        left: unset;
    }


}

/* Reponsive trên table  */
@media (min-width: 740px ) and (max-width: 1023px){
    .hion-on-table{
        display: none !important;
    }

    .container.active::-webkit-scrollbar{
        width: 0;
        height: 0;
     }
     

    .container_header--content_extend--modal{
        position: absolute;
        width: 50vw;
        display: none;
        height: 600px;
        top: 54px;
        right: -30px;
        left: unset;
    }

}

/* Reponsive trên table  */
@media (min-width: 950px ) and (max-width: 1023px){
    .container_profile--layout__playlist--item {
        width: calc(100% / 4);
    }
}


@media (max-width: 739px){
    .hion-on-mobile{
        display: none !important;
    }

    .container_header--content_btns{
        /* width:10%; */
        display: none;
    }

    .container_header--content_extend{
        margin: 0;
        width: 25%;
        justify-content:flex-end ;
    }

    .container_header--content_search{
        width: 75%;
    }

    
    .container{
        padding: 0 10px;
    }

    .container.active::-webkit-scrollbar{
        width: 0;
        height: 0;
     }
     

    .container_header{
        padding: 0 0 0 20px;
        width: 100%;
    }


    .container_profile--user{
        width: 100%;
        justify-content: center;
        padding: 0;
        flex-direction: column-reverse;
        height: auto;
    }

    .container_profile--layout__sum--foot_list--item_lable--info{
        cursor: pointer;
        width: 100%;
        margin-top: 2px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        color: #fff;
    }
    

    .profile--layout__ablum{
        margin-top: 0 !important;
    }

    .container_profile--user_action--btn,
    .container_profile--user_action {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .container_profile--layout__sum--foot{
        width: 100%;
    }

    .container_profile--layout__sum--foot_list{
        width: 100%;
        margin: 0 !important;
    }

    .container_profile--head_list{
        width: auto;
    }


    .mobile .container_profile--layout__playlist--item_creat{
        width: calc(100vw - 20px);
        height: 100%;
    }

    container_profile--layout__playlist--item_hear
    .mobile .container_profile--layout__playlist--item_hear{
        width: calc(100vw - 20px);
        height: 220px;
    }

    .mobile .row1{
        width: 100%;
        flex-direction: column;
        height: 460px;
        overflow: hidden;
    }

    .mobile .container_profile--layout__playlist--item{
        /* height: 20vh; */
        margin-bottom: 20px;
    }

    .container_profile--layout__playlist--items{
        width: calc(100% + 20px);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        display: flex;
        flex-direction: row;
        margin: 0 -10px;
        padding-left: 10px;
        scroll-snap-stop: always;
    }

    .container_profile--layout__playlist--items {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .container_profile--layout__playlist--items::-webkit-scrollbar {
        display: none;
    }

    .container_profile--layout__playlist--item_hear--img {
        scroll-snap-align: center;
    }

    .row1{
        flex-wrap: nowrap;
    }

    .container_profile--head_list--item{
        margin: auto;
    }

    .container_profile--layout__playlist.mobile{
        width: 100%;
        margin: 0 !important;
    }

    .container_profile--layout__playlist--item,
    .container_profile--layout__playlist--item_creat{
        width: 100%;
    }

    .container_header--content_extend--modal{
        position: absolute;
        width: calc(100vw + 30px);
        display: none;
        height: calc(100vh - 100px);
        /* top: 54px; */
        top: -15px;
        overflow-x: auto;
        right: -30px;
        left: unset;
    }


}




/* // Màn hình kích thước nhỏ hơn 440  */
@media (max-width: 440px){
     .container_header--content_extend{
        margin: 0;
        width: 30%;
        justify-content:flex-end ;
    }

    .container_header--content_search{
        width: 70%;
    }

    .container_profile--head_list--item{
        width: 80px;
    }
    
    
    .container_profile--head_list--item:nth-child(1){
        width: 100px;
    }
}

/* // Màn hình kích thước nhỏ hơn 360  */
@media (max-width: 360px){
   .container_profile--head_list--item{
       width: 70px;
   }
   
   .container_profile--head_list--item:nth-child(1){
       width: 90px;
   }
}


/* // Màn hình kích thước nhỏ hơn 319  */
@media (max-width: 319px){
    .app{
        display: none
    }
}